@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #393e46;
  --color-secondary: #5c636e;
  --color-tertinary: #f8b400;
  --color-quaternary: #f7f7f7;
  --font-rubik: "Rubik", sans-serif;
  --font-kode: "Kode Mono", monospace;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-rubik);
}

.nav-link {
  position: relative;
  padding-bottom: 4px;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-tertinary);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-out;
}
.nav-active {
  color: var(--color-tertinary);
}
.nav-link:hover::after,
.nav-active::after {
  transform: scaleX(1);
}
